.u-section-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin: 35px auto 35px 0}
.u-section-1 .u-layout-cell-1 {min-height: 335px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 1.25rem; font-family: Poppins; margin: 115px 48px 0 67px}
.u-section-1 .u-layout-cell-2 {min-height: 289px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-1 {width: 219px; height: 76px; margin: -30px -13px 0 auto}
.u-section-1 .u-layout-cell-3 {min-height: 289px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-2 {width: 219px; height: 76px; margin: -30px auto 0 -30px}
.u-section-1 .u-layout-cell-4 {min-height: 624px}
.u-section-1 .u-container-layout-4 {padding: 25px 30px 30px}
.u-section-1 .u-image-3 {width: 265px; height: 554px; animation-duration: 1000ms; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-1 {min-height: 321px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 256px}
.u-section-1 .u-text-1 {width: auto; margin-top: 0; margin-right: 35px; margin-left: 25px}
.u-section-1 .u-layout-cell-2 {min-height: 129px}
.u-section-1 .u-image-1 {width: 175px; height: 61px; margin-right: 0}
.u-section-1 .u-layout-cell-3 {min-height: 129px}
.u-section-1 .u-image-2 {width: 175px; height: 61px}
.u-section-1 .u-layout-cell-4 {min-height: 515px} }

@media (max-width: 991px){ .u-section-1 {min-height: 694px}
.u-section-1 .u-layout-cell-1 {min-height: 156px}
.u-section-1 .u-text-1 {margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-1 {margin-top: -5px; margin-bottom: -5px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-2 {margin-top: -5px}
.u-section-1 .u-layout-cell-4 {min-height: 609px} }

@media (max-width: 767px){ .u-section-1 {min-height: 1388px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-right: 32px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 839px}
.u-section-1 .u-text-1 {margin-right: auto}
.u-section-1 .u-image-1 {margin-right: auto}
.u-section-1 .u-image-2 {margin-left: auto} }